# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
*/.next
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

python/models
.venv
public/grace.onnx

temp
grace.onnx

api/models/*
api/models/GRACE.pth
api/outputs
api/uploads
api/1.nii.gz
api/__pycache__
*.log
logs*
.env
api/core.*
api/models/*.pth
._.DS_Store
*/._.DS_Store


